p Hi Book-it Developers,

p Looks like you have some issues with the current deployment. 

ul
    li=`Report URL: ${report}`
    li=`Collection Name: ${collection}`
    li=`Total Tests: ${executions}`
    li=`Number of Failures: ${failures.length}`
    li='Response times:'
        ul
            li= `Min: ${timings.responseMin}`
            li= `Average: ${timings.responseAverage}`
            li= `Max: ${timings.responseMax}`
            li= `Standard Deviation: ${timings.responseSd}`

P The following tests have failed:
ul
    for failure in failures
        li=`Test: '${failure.source.name}', failed with error '${failure.error.name}'' for test '${failure.error.test}'`